html {
    scroll-behavior: smooth;
  }

body {
    background-color: #000;
    color: #FFF;
}

#banner-topo img {
    width: 650px;
    max-width: 100%;
}

#sobre .text {
    max-width: 500px;
}

.gallery img {
    max-height: 300px;
}

#mapa {
    width: 600px;
    max-width: 100%;
    height: 400px;
}

#video {
    width: 560px;
    max-width: 100%;
    height: 315px;
}

a {
    color: yellow
}
